.results__score {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background: var(
    --blue-gradient,
    linear-gradient(
      180deg,
      hsl(252, 100%, 67%) 0%,
      hsl(252, 100%, 63%) 0.01%,
      hsl(241, 81%, 54%) 100%
    )
  );
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*sizing for mobile */
  max-height: 22.25rem;
  padding-bottom: 2.5rem;

  @media (min-width: 36rem) {
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    max-height: inherit;
    padding-bottom: inherit;
  }
}

.results__scoreHeader {
  color: hsla(241, 100%, 89%, 1);
  font-family: "HankenGrotesk-bold", sans-serif;
  font-feature-settings: "clig" off, "liga" off;

  /*sizing for mobile */
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 1.5rem;

  @media (min-width: 36rem) {
    font-size: 1.5rem;
    margin-top: 2.38rem;
  }
}

.results__userScoreContainer {
  background: var(--results-score-background-gradient);
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  line-height: normal;
  color: var(--neutral-light-lavendar, #cac9ff);

  /*sizing for mobile */
  width: 8.75rem;
  height: 8.75rem;
  margin-top: 1.5rem;

  font-size: 1rem;
  font-style: normal;
  font-weight: 700;

  font-family: "HankenGrotesk-bold", sans-serif;

  @media (min-width: 36rem) {
    width: 12.5rem;
    height: 12.5rem;
    margin-top: 2.19rem;

    row-gap: 0.25rem;

    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
  }
}

.results__userScoreValue {
  font-family: "HankenGrotesk-bold", sans-serif;
  color: var(--neutral-white);

  /*sizing for mobile */
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 4.5rem; /* 128.571% */

  @media (min-width: 36rem) {
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 4.5rem; /* 100% */
  }
}

.results__userScoreQuality {
  color: var(--neutral-white);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "HankenGrotesk-bold", sans-serif;

  line-height: normal;

  /*sizing for mobile */
  margin-top: 1.5rem;
  font-size: 1.5rem;

  @media (min-width: 36rem) {
    margin-top: 1.75rem;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
  }
}

.results__userScoreComparison {
  color: var(--neutral-light-lavendar);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "HankenGrotesk-medium", sans-serif;

  width: 16.25rem;

  /*sizing for mobile */
  margin-top: 0.5rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @media (min-width: 36rem) {
    margin-top: 0.88rem;

    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
