@font-face {
  font-family: "HankenGrotesk-bold";
  src: url("./assets/fonts/static/HankenGrotesk-Bold.ttf");
}

@font-face {
  font-family: "HankenGrotesk-medium";
  src: url("./assets/fonts/static/HankenGrotesk-Medium.ttf");
}

@font-face {
  font-family: "HankenGrotesk-extra-bold";
  src: url("./assets/fonts/static/HankenGrotesk-ExtraBold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "HankenGrotesk-medium", sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-color: var(--neutral-white);

  @media (min-width: 36rem) {
    background-color: var(--neutral-pale-blue);
  }
}
